*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background: #f4f6f8;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.todo-container{
    width: 600px;
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.todo-container h2{
    text-align: center;
    font-size: 30px  ;
    margin-bottom: 20px;
}

/* Input */

.todo-input{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 50px;
}

.todo-input input{
    flex: 1;
    width: 100%;
    padding: 10px;
    border: 1px solid #3b4a74;
    border-radius: 6px;
}

.todo-input button{
    padding: 10px 15px;
    border: none; 
    background: #40f88a;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}


/* List */

.todo-list{
    list-style: none;
}

.todo-item{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px;
    margin-bottom: 10px;

    background: #eff0f1;
    border-radius: 6px;
}

.todo-item .left-div{
    display: flex;
    justify-content: start;
    gap: 20px;
}

.todo-item .actions{
    display: flex;
    justify-content: center;
    gap: 7px;
}

.actions button{
    border: none;
    margin-left: 5px;
    cursor: pointer;
    padding: 5px 8px;
    border-radius: 4px;
}

.edit{
    background: #55abf6;
    color: white;
}

.delete{
    background: #ef4444;
    color: white;
}

@media (max-width: 700px) {
    
    .todo-container{
        width: 350px;
    }
}

@media (max-width: 350px){
    .todo-item{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
}